
// HEADER SECTION

.contactHeader {
    background-image: url(./../assets/contact-1.jpeg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        margin-top: 0;
        color: $primary;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding: 20px;
        font-size: 46px;
        line-height: 24px;
        letter-spacing: 1.1px;
    }
    a {
        text-decoration: none;
        padding: 10px;
        color: black;
    }
    ul li{
        list-style: none;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
    }
}

nav.topBar {
	display: flex;
	justify-content: space-between;
}

.logo {
	flex-basis: 500px;
	flex-grow: 1;
}

ul.nav {
	display: flex;
	flex-basis: 500px;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

// FORM SECTION

.contactForm {
    input[type=name], 
    input[type=email]{
    height: 48px;
    width: 45%;
    margin: 10px 0 8px;
    border: 0;
    background: #F2F2F2;
    margin-right: 20px;
    padding: 10px;
    font-family: $secondaryFont;
    }

    input[type=subject] {
      height: 48px;
      width: 93%;
      margin: 10px 0;
      border: 0;
      background: #F2F2F2;
      padding: 10px;
    font-family: $secondaryFont;
    }

    input[type=message] {
        height: 200px;
        width: 93%;
        margin: 10px 0;
        border: 0;
        background: #F2F2F2;
        padding: 10px;
        font-family: $secondaryFont;
    }
    
    button[type=submit]{
        border: none;
        color: #64A604;
        text-transform: uppercase;
        padding: 10px;
        background-color: white;
        width: 25%;
        border: 2px solid #F2F2F2;
    }
    
    button[type=submit]:hover,
    button[type=submit]:focus {
        background: #F2F2F2;
    }
}


// SIDE SECTION 

.side {
    background: #F2F2F2;
}
.side h2{
text-transform: uppercase;
padding-bottom: 17px;
}
.side h3{
    padding-bottom: 4px;
    text-transform: uppercase;
}
.side p{
    color: #999999;
    font-family: $secondaryFont;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.flexContainer {
    display: flex;
}

.form {
    width: 70%;
    height: 600px;
}

.side {
    width: 40%;
    height: 60%;
    padding: 30px;
}

// media queries

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .contactHeader ul li{
    display: none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .contactForm h2 {
        text-transform: uppercase;
    }
    .side{
        width: 100%;
    }
    .side h2, h3, p {
        text-align: center;
    }
    .flexContainer{
       flex-wrap: wrap;
       align-items: center;
    }
    h2 {
        text-align: center;
    }
    button[type=submit]{
        align-items: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .contactForm input[type=message] {
        height: 100px;
    }
.contactForm > button:nth-child(10) {
    width: 93%;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
}

}
