
// _home.scss is for all styling of just the home page

header {
    background-image: url(./../assets/home-1.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul li{
    list-style: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

ul{
    display: flex;
    justify-content: flex-end;
}

h1 {
    margin-top: 0;
    font: $baseFont;
    display: flex;
    color: $primary;

}
