@import 'normalize';
@import 'home';
@import 'blog';
@import 'contact';

// STYLE.SCSS is just for general styling & common fonts/colours, etc

$primary: hotpink;
$deepBlue: #032f3e;

$baseFont: 'Raleway', sans-serif;
$secondaryFont: 'Lora', serif;

.wrapper {
    width: 90%;
}

