@import 'normalize';
@import 'home';
@import 'blog';
@import 'contact';

// STYLE.SCSS is just for general styling & common fonts/colours, etc


html {
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1280px;
    width: 100%;
	margin: 0 auto;
}
