html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  color: #2e2e2e;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.indexHeader {
  background-image: url(./../assets/home-1.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.indexHeader h1 {
  margin-top: 0;
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
}
.indexHeader a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.indexHeader ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

nav.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popularSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popularImg {
  width: 50%;
}

.popularText {
  width: 50%;
  padding: 15px;
  margin-top: 100px;
  text-align: center;
}
.popularText h2 {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
}
.popularText p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3 px;
  color: #999999;
}
.popularText button {
  background-color: #64A604;
  padding: 15px;
  text-transform: uppercase;
  border: none;
}
.popularText a {
  text-decoration: none;
  color: white;
}

.tacoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconsSection {
  width: 50%;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
.iconsSection h3 {
  text-transform: uppercase;
}
.iconsSection p {
  font-family: "Lora", serif;
  color: #999999;
}
.iconsSection i {
  font-size: 25px;
}

.iconsImg {
  width: 50%;
}

.restaurantSection {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 15px;
  padding-top: 100px;
}
.restaurantSection h2 {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
}
.restaurantSection p {
  padding: 10px;
}

.cafeteriaImg {
  position: relative;
  display: inline-block;
}

.floatingLogo {
  position: absolute;
}

.gallerySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallerySection img {
  width: calc(100% / 3);
}

.hungrySection {
  width: 50%;
  height: 400px;
  text-align: center;
  margin: auto;
}
.hungrySection h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 1.1px;
  border-bottom: 2px solid green;
  padding-bottom: 15px;
}
.hungrySection p {
  font-family: "Lora", serif;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 36px;
  font-style: italic;
  color: #595959;
}

.hungry {
  background-color: #dded9b;
  padding-top: 90px;
}

.hungryArrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hungryArrows p {
  color: white;
  margin: 0;
  padding: 0;
}
.hungryArrows i {
  margin: 5px;
}

.footerFlex {
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.footerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerSection h2 {
  color: #64A604;
}
.footerSection h3 {
  color: white;
}
.footerSection p {
  color: #999999;
}
.footerSection li a {
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.footerSection ul {
  padding: 0;
}

.footerOne,
.footerTwo,
.footerThree {
  width: calc(90% / 3);
  padding: 10px;
}

.footerOne {
  width: 30%;
}

.footerTwo li {
  list-style: none;
}

.copyright {
  text-align: center;
}

.footerThree #email {
  background: #6f6f6f;
  border: none;
  font-family: "Lora", serif;
  font-style: italic;
  color: #999999;
}

.butt {
  border: 1px outset #64A604;
  background-color: #64A604;
  height: 50px;
  width: 50px;
  cursor: pointer;
  color: white;
}
.butt i {
  font-size: 30px;
}

.butt:hover {
  color: white;
}

.input {
  text-align: center;
}

.footerOne p {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.footerOne p:last-child {
  border-bottom: none;
}

.footerTwo li {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footerTwo li:last-child {
  border-bottom: none;
}

.footerOne h2 {
  font-size: 30px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .indexHeader ul li {
    display: none;
  }

  .tacoSection {
    background: #F2F2F2;
  }

  .popularSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .popularText {
    margin: 5px;
  }

  .tacoSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .iconsSection {
    text-align: center;
  }

  .restaurantSection {
    padding-top: 30px;
  }

  .footerOne {
    display: none;
  }

  .footerTwo {
    display: none;
  }

  .hungryArrows {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .flexParent {
    padding-bottom: 60px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .flexParent {
    padding-bottom: 200px;
  }

  .iconsSection {
    padding: 0;
  }

  .hungrySection > p:nth-child(3) {
    font-size: 18px;
  }
}
.blogHeader {
  background-image: url(./../assets/blog-1.jpeg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blogHeader h1 {
  margin-top: 0;
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
}
.blogHeader a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.blogHeader ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

nav.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pineappleSection {
  padding-top: 90px;
}

.pineappleSection p:last-child {
  border-bottom: 3px solid #F2F2F2;
  padding-bottom: 25px;
}

.sallySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #F2F2F2;
  padding-bottom: 30px;
}

.sallyText {
  background-color: #F2F2F2;
  padding-right: 30px;
}

.sallyImg {
  width: 15%;
}

.sallyText {
  width: 85%;
  padding-left: 30px;
  padding-top: 20px;
}

.relatedSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #F2F2F2;
  padding-bottom: 20px;
}

.relatedCake,
.relatedFloral,
.relatedSingle {
  width: calc(100% / 3);
}

.commentsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lucatonyBubble,
.brianBubble {
  background-color: #F2F2F2;
}

.lucatonyBubble {
  width: 90%;
  display: inline-block;
  margin-left: 25px;
  padding-left: 25px;
}

.brianBubble {
  width: 90%;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  padding-left: 25px;
}

.blogForm {
  margin-bottom: 40px;
}

.blogForm input[type=name],
.blogForm input[type=email],
.blogForm input[type=subject] {
  height: 48px;
  width: calc(100% / 3 - 5px);
  border: 3px solid #F2F2F2;
  background: white;
  font-family: "Lora", serif;
}
.blogForm input[type=message] {
  height: 200px;
  width: 100%;
  border: 3px solid #F2F2F2;
  background: white;
  font-family: "Lora", serif;
  margin-top: 15px;
}
.blogForm button[type=submit] {
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  background-color: #64A604;
  width: 15%;
  margin-top: 15px;
}
.blogForm button[type=submit]:hover,
.blogForm button[type=submit]:focus {
  border: 3px solid #4a7a03;
  background: #4a7a03;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .pineappleSection {
    padding: 40px;
  }

  .relatedSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .relatedSection h3 {
    text-transform: uppercase;
    text-align: center;
  }

  .blogRelated {
    text-align: center;
  }

  .blogForm > button:nth-child(9) {
    width: 30%;
  }

  .brianSection img {
    display: none;
  }

  .lucatonySection img {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .blogHeader ul li {
    display: none;
  }

  .sallySection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F2F2F2;
  }

  .sallyText {
    padding: 0;
  }

  .pineappleSection {
    padding-bottom: 0;
  }
}
/* Landscape phones and down */
.contactHeader {
  background-image: url(./../assets/contact-1.jpeg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contactHeader h1 {
  margin-top: 0;
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
}
.contactHeader a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.contactHeader ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

nav.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactForm input[type=name],
.contactForm input[type=email] {
  height: 48px;
  width: 45%;
  margin: 10px 0 8px;
  border: 0;
  background: #F2F2F2;
  margin-right: 20px;
  padding: 10px;
  font-family: "Lora", serif;
}
.contactForm input[type=subject] {
  height: 48px;
  width: 93%;
  margin: 10px 0;
  border: 0;
  background: #F2F2F2;
  padding: 10px;
  font-family: "Lora", serif;
}
.contactForm input[type=message] {
  height: 200px;
  width: 93%;
  margin: 10px 0;
  border: 0;
  background: #F2F2F2;
  padding: 10px;
  font-family: "Lora", serif;
}
.contactForm button[type=submit] {
  border: none;
  color: #64A604;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
  width: 25%;
  border: 2px solid #F2F2F2;
}
.contactForm button[type=submit]:hover,
.contactForm button[type=submit]:focus {
  background: #F2F2F2;
}

.side {
  background: #F2F2F2;
}

.side h2 {
  text-transform: uppercase;
  padding-bottom: 17px;
}

.side h3 {
  padding-bottom: 4px;
  text-transform: uppercase;
}

.side p {
  color: #999999;
  font-family: "Lora", serif;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 70%;
  height: 600px;
}

.side {
  width: 40%;
  height: 60%;
  padding: 30px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .contactHeader ul li {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .contactForm h2 {
    text-transform: uppercase;
  }

  .side {
    width: 100%;
  }

  .side h2, h3, p {
    text-align: center;
  }

  .flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  h2 {
    text-align: center;
  }

  button[type=submit] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .contactForm input[type=message] {
    height: 100px;
  }

  .contactForm > button:nth-child(10) {
    width: 93%;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
  }
}